<div class="login-container">
  <div class="sign-box">
    <%= form_for :session, url: session_path do |form| %>
      <h1><%= title %></h1>

      <%= form.text_field :email, autofocus: true, class: 'field', type: 'email', placeholder: User.human_attribute_name('email') %>

      <%= form.password_field :password, class: 'field', placeholder: User.human_attribute_name('password') %>

      <%= form.submit class: 'btn btn-sign' %>

      <div class="other-links">
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path %> |
        <% end %>
        <%= link_to t(".forgot_password"), new_password_path %>
      </div>
    <% end %>
  </div>
</div>
