<h2 class="center">Submit your vacancy</h2>

<hr>

<%= form_for @vacancy do |f| %>
  <div class="form-group">
    <%= f.label :job_title %>
    <%= f.text_field :job_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, class: 'form-control' %>
  </div>

  <hr>

  <div id="company-details">
    <h3>Details about the company</h3>

    <br>

    <div class="form-group">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :company_url %>
      <%= f.text_field :company_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :company_email %>
      <%= f.text_field :company_email, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
