<h1 class="page-title"><%= @vacancy.job_title %></h1>



<div class="panel panel-default">
  <div class="panel-body">
    <div class="vacancy-details">
      <span><i class="fa fa-briefcase" aria-hidden="true"></i><%= @vacancy.company_name %></span>
      <span><i class="fa fa-map-marker" aria-hidden="true"></i><%= @vacancy.location %></span>
    </div>

    <div class="vacancy-description">
      <%= sanitize(@vacancy.description) %>
    </div>

    <br>

    <h3><%= t('.how_to_apply') %></h3>

    <div class="vacancy-how-to-apply">
      <%= @vacancy.how_to_apply %>
    </div>
  </div>
</div>
