<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        Open<span class="brand-name">Jobs</span>
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= menu_class(root_path) %>"><%= link_to t("menu.all_vacancies"), root_path %></li>
        <% if signed_in? %>
          <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
          <li><%= link_to t(".my_vacancies"), company_vacancies_path %></li>
        <% end %>
      </ul>

      <%= form_tag vacancies_path, class: "navbar-form navbar-right", method: :get do %>
        <div class="input-group">
          <%= text_field_tag 'search', search, class: 'form-control', placeholder: t("vacancies.search") %>

          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div><!--/.nav-collapse -->
</nav>
