<!DOCTYPE html>
<html>
  <head>
    <title>OpenJobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render "shared/navbar", search: @search %>

    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>

      <%= yield %>
    </div> <!-- /container -->

  </body>

  <%= render "shared/footer" %>
</html>
